html {
  box-sizing: border-box;
  font-family: 'Staatliches';
}

body{
  margin: 0;
}

.wrapper { 
  display: grid;
  grid-template-columns: 18% 56% 26%;
  grid-template-rows: 10% 10% 20% auto;
}

.sidebar {
  background-color: #293941;
  display: grid;
  grid-template-rows: .2fr .8fr .8fr 1fr;
  grid-area: 1 / 1 / 5 / 2;
}

.user-profile {
  text-align: center;
}

img {
  border-radius: 50%;
  margin: 1em;
}

.aside-menu {
  display: inline;
  margin: 4%;
}

aside li {
  display: flex;
  flex-wrap: wrap;
  margin: 8%;
}

.sidebar i {
  color: #E0FBFC;
}

.aside-menu li,
.aside-menu label {
  color: #E0FBFC;
  margin:0%;
  padding: 2%; 
}

.icon-style,
.sidebar i {
  padding-right: 5px;
}

header {
  background-color: #fff;
  display: flex;
  grid-area: 1 / 2 / 2 / 4;
  padding: 2%;
}

.header-bar-one {
  width:10%;
}

.header-bar-two {
  width:80%;
}

.header-bar-three {
   width:10%;
}

.header input, 
.header i {
  color: #9fa3a8; 
}

input {
  width: 30%;
  height: 30px;
  border: 0px solid;
}

nav {
  background-color: #E0FBFC;
  display: grid;
  grid-area: 2 / 2 / 3 / 4;
  padding: 3% 1%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 70% 30%;
}

p {
  padding:0;
  font-size: 1em;
  font-weight: 300;
}

h1 {
  margin:0;
  padding:0;
}

.open-btn::before {
 color: green;
 border-radius: 50%;
}

.nav-aside-left,
.nav-aside-right {
  display: block;
}

.nav-aside-left p,
.nav-aside-right p {
  padding:2%;
  margin:0;
  display: inline;
}

.nav-aside-right {
 text-align: right;
 margin-right: 5%;
}

.nav-aside-right button {
  border-radius: 45%;
  padding: 5px;

}

 .nav-aside-left a::hover {
 color:  #a9abad;
}

.nav-menu-bar {
  margin:0;
  display: flex;
}

.nav-menu-bar li {
  padding-left: 10%;
  margin-top: 5%;
}

.section-one {
  background-color: #98C1D9;
  display: grid;
  grid-area: 3 / 2 / 4 / 4;
  padding: 0 1%;
  grid-template-columns: 50% auto;
  grid-template-rows: 60% 30% 10%;
}

ul {
  list-style: none;
  padding: 0;
}

table {
  list-style: none;
  table-layout:fixed;
  padding: 0;
  width: 80%;
  margin: 0% 10%;
  margin-top: 2%;
}

th {
  padding: 2%;
  text-align: start;
}

.section-two {
  background-color: #98C1D9;
  display: grid;
  grid-area: 4 / 2 / 5 / 4;
  padding: 0 1%;
  grid-template-columns: 70% 30%;
}

button {
  padding: 0.2rem;
}

.apple-pay-btn {
  background-color: #E0FBFC;
}

.hire-btn {
  background-color: #EE6C4D;
}

.link-btn {
  background-color: #3D5A80;
}

.side-buttons {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.side-buttons button {
  width: 90%;
  margin: 1%;
  padding: 4%;
}

.section-side-content{
  margin:8% 4% 0;
}

.section-side-content div {
  padding: 2%;
 
}

.section-side-content input{
  width: 70%;
}




