body, html{
  height: 100%;
}

body{
  font-family: 'Staatliches', cursive;
  margin: 0;
  display: grid;
  grid-template-columns: 18% 56% 26%;
  grid-template-rows: 10% 15% 20% 55%;
  grid-template-areas: 
  "sidebar header header"
  "sidebar nav nav"
  "sidebar section-one section-one"
  "sidebar section-two section-two"
}

.sidebar {
  background-color: #293941;
  grid-area: sidebar;
}

header {
  background-color: #E0FBFC;
  grid-area: header; 
}

nav {
  background-color: #E0FBFC;
  grid-area: nav;
}

.section-one {
  background-color: #98C1D9;
  grid-area: section-one;
}

.section-two {
  background-color: #98C1D9;
  grid-area: section-two;
}

.user-profile {
  display: block;
  text-align: center;
}

img {
  border-radius: 50%;
  margin:1em;
  padding:0;
}

.potential-employee-dropdown {
/*style border and down arrow*/
}

.first-aside-menu,
.second-aside-menu,
.third-aside-menu {
  margin: 16px;
  padding: 0;
  list-style-type: none;
}

.first-aside-menu p,
.second-aside-menu p,
.third-aside-menu p,
.third-aside-menu label {
  color: #E0FBFC; 
}

.third-aside-menu {
  display: block;
}

/*ul li:before {    
    content: '\f015', '\f133';
    margin:0 5px 0 -15px;
    color: #f00;*/

.header p {
  color: #a9abad;
}

/*#EE6C4D
#3D5A80*/


