body, html{
  height: 100%;
}

body{
  font-family: 'Staatliches', cursive;
  margin: 0;
  display: grid;
  grid-template-columns: 18% 56% 26%;
  grid-template-rows: 12% 18% 25% 55%;
  grid-template-areas: 
  "sidebar header header"
  "sidebar nav nav"
  "sidebar section-one section-one"
  "sidebar section-two section-two"
}

aside {
  background-color: #293941;
  grid-area: sidebar;
}

header {
  background-color: #E0FBFC;
  grid-area: header; 
}

nav {
  background-color: #E0FBFC;
  grid-area: nav;
}

.section-one {
  background-color: #98C1D9;
  grid-area: section-one;
}

.section-two {
  background-color: #98C1D9;
  grid-area: section-two;
}

.user-profile {
  display: block;
  text-align: center;
}

img {
  border-radius: 50%;
  margin:1em;
  padding:0;
}

.potential-employee-dropdown {
   -webkit-appearance: none;
   border: #000;
}


